MEDIA_DIR=/path/to/your/data/dir/on/host
TRANSCODE_DIR=/path/to/transcoding/directory
CONFIGURATION_DIR=/path/to/your/ombi/configs
PLEX_CLAIM_TOKEN=yourPlexClaimToken
TIME_ZONE=America/New_York #Or whatever city/country fits your needs
